.banner {
  background-image: linear-gradient(rgba(0,0,200,0.2), rgba(10,0,150,0.2)), url("https://images.pexels.com/photos/671658/pexels-photo-671658.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner h1 {
  font-size: 40px;
  color: rgb(250,250,250,0.9);
  text-shadow: 0 0 3px rgba(0,0,0,0.5);
  text-align: left;
}

.banner h2 {
  font-size: 20px;
  color: rgb(210,210,210,0.9);
  text-shadow: 0 0 2px rgba(0,0,0,0.5);
  font-weight: lighter;
  text-align: left;

}
/*.banner img {
  margin-left: auto;
  margin-right: auto;
}*/
