.cta {
  text-decoration: none;
  background-color: #19c499;
  color: white;
  border-radius: 3px;
  font-weight: bold;
  transition: 0.3s;
  padding: 10px 20px;
  display: inline-block;
  margin-top: 20px;
}

.cta:hover {
  background-color: #19a884;
